@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: 'Source Sans Pro';
  background-color: black;
}

input {
  font-family: 'Source Sans Pro';
  background-color: #D6D6D6;
  color: black;
  padding: 0.25em 1em;
  border-radius: 0.25em;
}

input:hover {
  background-color: white;
}

h1 {
  font-weight: normal;
  margin-bottom: 0.2em;
}

h2 {
  font-weight: normal;
  font-size: large;
  margin-bottom: 2em;
}

h1, h2 {
  text-shadow: 0 1px 5px rgba(1,1,1,0.75);
}

#splash-outer {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
  text-align: center;
  border-radius: 25px;

  background-color: #0033CC;
  transition: background-color 1s;

  box-shadow: inset 0 0 200px black;
}

#splash-inner {
  display: table-cell;
  vertical-align: middle;

  color: white;
}

.subject, .colour {
  font-weight: bold;
}

ul {
  list-style-type: none;
}

ul li {
  display: inline-block;
  margin: 0 2em;
}

a {
  text-decoration: none;
  border-bottom: 1px #999 dotted;
  color: white;
}

ul a {
  font-style: italic;
}

a:hover {
  border-bottom: 1px solid white;
}

input {
  border: 1px solid #999;
}

#status {
  visibility: hidden;
}
